<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="visitor-form">
      <fieldset>
        <legend>방명록</legend>
        <input type="text" name="name" placeholder="사용자 이름" /><br />
        <input type="text" name="comment" placeholder="방명록" /><br />
        <div id="button-group">
          <button type="button" onclick="createVisitor();">등록</button>
        </div>
      </fieldset>
    </form>
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
        <tr id="tr_<%= data[i].id %>">
          <td><%= data[i].id %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].comment %></td>
          <td>
            <button type="button" onclick="getVisitor('<%= data[i].id %>')">
              수정
            </button>
          </td>
          <td>
            <button
              type="button"
              onclick="deleteVisitor(this,'<%=data[i].id%>');"
            >
              삭제
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      const tbody = document.querySelector("tbody");
      const btnGroup = document.querySelector("#button-group");

      const createVisitor = () => {
        const form = document.forms["visitor-form"];

        axios({
          method: "POST",
          url: "/visitor/write",
          data: {
            name: form.name.value,
            comment: form.comment.value,
          },
        }).then((res) => {
          console.log(res.data);

          const newVisitor = `
          <tr id="tr_${res.data.id}">
            <td>${res.data.id}</td>
            <td>${res.data.name}</td>
            <td>${res.data.comment}</td>
            <td><button type="button" onclick="getVisitor(${res.data.id})">수정</button></td>
            <td><button type="button" onclick="deleteVisitor(this,${res.data.id});">삭제</button></td>
          </tr>`;

          tbody.insertAdjacentHTML("beforeend", newVisitor);

          form.name.value = "";
          form.comment.value = "";
        });
      };

      const deleteVisitor = (obj, id) => {
        if (!confirm("정말 삭제 하시겠습니까?")) {
          return;
        }
        axios({
          method: "DELETE",
          url: "/visitor/delete",
          data: { id: id },
        }).then((res) => {
          document.querySelector(`#tr_${res.data.id}`).remove();
        });
      };

      const getVisitor = (id) => {
        axios({
          method: "GET",
          url: "/visitor/get",
          params: {
            id: id,
          },
        }).then((res) => {
          console.log(res.data);

          const form = document.forms["visitor-form"];
          form.name.value = res.data.name;
          form.comment.value = res.data.comment;

          const btns = `
            <button type="button" onclick="editDo(${id})">변경</button>
            <button type="button" onclick="editCancel()">취소</button>
          `;
          btnGroup.innerHTML = btns;
        });

        // axios({
        //   method: "PATCH",
        //   url: "/visitor/edit",
        //   data: { id: id },
        // }).then((res) => {
        //   console.log(res);
        // });
      };
      const editDo = (id) => {
        const form = document.forms["visitor-form"];
        axios({
          method: "PATCH",
          url: "/visitor/edit",
          data: {
            id: id,
            name: form.name.value,
            comment: form.comment.value,
          },
        }).then((res) => {
          const children = document.querySelector(`#tr_${id}`).children;
          children[1].textContent = form.name.value;
          children[2].textContent = form.comment.value;
        });
      };

      const editCancel = () => {
        const form = document.forms["visitor-form"];
        form.name.value = "";
        form.comment.value = "";

        const btn = `<button type="button" onclick="createVisitor();">등록</button>`;
        btnGroup.innerHTML = btn;
      };
    </script>
  </body>
</html>
